{{> head }}

{{> navbar }}    
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h1 class="text-center">Columna 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor iste nemo facere quas id deserunt harum officia maiores, laboriosam ipsa tenetur, rem, repellat dolorem consequatur totam dicta ipsum sunt accusamus? Error cupiditate magni accusamus eum ad qui voluptatibus illum quasi deleniti. Amet ipsam, nostrum expedita doloribus sapiente porro error suscipit.</p>
        </div>
        <div class="col-xs-12 col-md-4">
            <img src="assets/img/img1.jpg" alt="" width="150" class="img-thumbnail">
        </div>
    </div>
</div>
{{> footer }}