{{> head }}

   {{> navbar }}    
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Hola {{capitalizar nombre}} estamos en {{anio}}</h1>
            </div>
        </div>
    </div>
{{> footer }}